---
import { footerLinks, footerNav } from '../lib/nav';

const currentYear = new Date().getFullYear();
---

<footer
  class="bg-[url('/orb-footer.webp')] bg-cover bg-[left_top] lg:bg-top text-white bg-no-repeat mt-14 lg:mt-10"
>
  <div class="container-page">
    <div class="lg:w-1/2 mx-auto lg:pt-80 pb-16 lg:pb-60">
      <h2 class="text-h4 lg:text-h3 text-center">
        Take the first step toward seamless and secure asset management with Orbit.
      </h2>
      <div class="text-center mt-10">
        <a class="btn btn-outline lg:w-80 block lg:inline-flex" href="">Launch Orbit</a>
      </div>
    </div>

    <div class="flex pb-6 lg:flex-row flex-col">
      <div class="flex-2 lg:border-b border-white/40 flex flex-col items-start pb-4">
        <a href="#" onclick="window.scrollTo({top: 0, behavior: 'smooth'})"
          ><img src="/logo.svg" alt="Orbit Logo" /></a
        >
        <div class="flex-1"></div>
        <div class="items-center gap-x-14 hidden lg:flex">
          <span class="text-h8">© {currentYear} Orbit</span>
          <div class="space-x-7">
            {
              footerLinks.other.map(item => (
                <a href={item.href} class="text-h9">
                  {item.label}
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <div
        class="flex-1 lg:border-l border-b border-white/40 flex flex-col items-start lg:pl-10 pb-10 lg:pb-4 pt-15 lg:pt-0"
      >
        <h4 class="text-h8">Navigation</h4>
        <ul class="flex flex-col gap-y-2 mt-7">
          {
            footerNav.navigation.map(item => (
              <li>
                <a href={item.href} class="text-h7 underline underline-offset-2">
                  {item.label}
                </a>
              </li>
            ))
          }
        </ul>
        <div class="flex-1 min-h-20 hidden lg:block"></div>
      </div>
      <div
        class="flex-2 lg:border-l border-b border-white/40 flex flex-col items-start lg:pl-10 pb-10 lg:pb-4 pt-6 lg:pt-0"
      >
        <h4 class="text-h8">Orbit</h4>
        <ul class="flex flex-col gap-y-2 mt-7">
          {
            footerNav.orbit.map(item => (
              <li>
                <a href={item.href} class="text-h7 underline underline-offset-2">
                  {item.label}
                </a>
              </li>
            ))
          }
        </ul>
        <div class="flex-1 min-h-20 hidden lg:block"></div>

        <div class="mt-auto items-center gap-x-2 justify-between w-full hidden lg:flex">
          <div class="space-x-7">
            {
              footerLinks.social.map(item => (
                <a href={item.href} class="text-h9">
                  {item.label}
                </a>
              ))
            }
          </div>
          <img src="/powered-by-icp.svg" alt="Powered by Internet Computer" />
        </div>
      </div>
      <div class="pt-6 lg:hidden">
        <div class="flex flex-wrap gap-6">
          {
            footerLinks.social.map(item => (
              <a href={item.href} class="text-h9">
                {item.label}
              </a>
            ))
          }
        </div>
        <div class="pt-20">
          <img src="/powered-by-icp.svg" alt="Powered by Internet Computer" />
        </div>

        <div class="flex flex-wrap gap-4 pt-6 pb-6 border-b border-white/40">
          <span class="text-h8">© {currentYear} Orbit</span>
          {
            footerLinks.other.map(item => (
              <a href={item.href} class="text-h9">
                {item.label}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</footer>
